<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
  </br></br></br>
    <div class="row">
    
      <div id="subtitle">
        <h1>Host a Toble</h1>
      </div>

      Send this link to your constituents:</br>
      <a href="<%= url.toble%>"><%= url.toble%></a></br></br>

      Send this link to your election officer:</br>
      <a href="<%= url.adminToble%>"><%= url.adminToble%></a></br></br>

      Main/Admin Only Screen:</br>
      <a href="<%= url.mainScreen%>"><%= url.mainScreen%></a></br></br>

      User Screen:</br>
      <a href="<%= url.userScreen%>"><%= url.userScreen%></a></br></br>


    </div>




  </br></br></br>
  </div> <!-- /container -->

  <% include ../partials/footer.ejs %>

</body>
</html>
