<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
  </br></br></br>
    <div class="row">

      <div id="subtitle">
        <h1>Host a Party</h1>
      </div>

      Send this link to your constituents:</br>
      <a href="http://<%= url.party%>"><%= url.party%></a></br></br>

      Send this link to your election officer:</br>
      <a href="http://<%= url.adminParty%>"><%= url.adminParty%></a></br></br>

      Main/Admin Only Screen:</br>
      <a href="http://<%= url.mainScreen%>"><%= url.mainScreen%></a></br></br>

      User Screen:</br>
      <a href="http://<%= url.userScreen%>"><%= url.userScreen%></a></br></br>


    </div>




  </br></br></br>
  </div> <!-- /container -->

  <% include ../partials/footer.ejs %>

</body>
</html>
