<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
  </br></br></br>
    <div class="row">
    
      <div id="subtitle">
        <h1>Host a Toble</h1>
      </div>

      Send this link to your constituents:</br>
      <a href="/toble/<%= code%>/">http://utoble.com/toble/<%= code%></a></br></br>

      Send this link to your election officer:</br>
      <a href="/toble/<%= code%>/admin/<%= adminCode%>/">http://utoble.com/toble/<%= code%>/admin/<%= adminCode%>/</a></br></br>

      Main/Admin Only Screen:</br>
      <a href="/toble/<%= code%>/screen/<%= adminCode%>/">http://utoble.com/toble/<%= code%>/screen/<%= adminCode%>/</a></br></br>

      User Screen:</br>
      <a href="/toble/<%= code%>/screen/">http://utoble.com/toble/<%= code%>/screen/</a></br></br>


    </div>




  </br></br></br>
  </div> <!-- /container -->

  <% include ../partials/footer.ejs %>

</body>
</html>
